**/target/
**/kcov/
**/*.rs.bk
**/generated/
**/dist/
**/node_modules/
.vscode
prebuilts
./api-daemon*.zip
./api-daemon*.toml
*~
.DS_Store
services/**/service.json
daemon/contacts.sqlite*
!third-party/test-server/.vscode
third-party/breakpad_sys/breakpad/
