client/node_modules/
client/dist/
client/distRelease/
client/generated/
client/yarn-error.log
src/generated
test-fixtures/test_root
test-fixtures/test-apps-dir-actor/
test-fixtures/test-apps-dir-install/
test-fixtures/test-apps-dir/
test-fixtures/test-unregister-apps-dir/
test-fixtures/test-apps-dir-get-all/
test-fixtures/test-apps-dir-pwa/
test-fixtures/test-apps-dir-apply/
test-fixtures/sample.webapp
test-fixtures/sample.webmanifest
test-fixtures/webapps/apps
settings.sqlite
settings.sqlite-shm
settings.sqlite-wal
